<h1>Subs</h1>
<ul>
<% @subs.each do |sub| %>
  <li>
    <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
  </li>
<% end %>
</ul>

<%= button_to "New Sub", new_sub_url, method: :get  %>

<% content_for :in_out_prompt do%>
  <%= standard_in_out_prompt %>
<% end %>